
        <h2>Appointment Confirmed</h2>
        <p>Hi {{clientName}},</p>
        <p>Your appointment for {{petName}} has been confirmed:</p>
        <ul>
          <li>Service: {{serviceName}}</li>
          <li>Date: {{date}}</li>
          <li>Time: {{time}}</li>
          <li>Business: {{businessName}}</li>
        </ul>
      